{% load static %}
<!-- Footer Section Start -->
<footer id="footer" class="footer-area section-padding">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                    <div class="widget">
                        <h3 class="footer-logo"><img src="{% static 'assets/img/logo.png' %}" alt=""></h3>
                        <div class="textwidget">
                            <p>Shipping with specialists in shipping and courier delivery services! With our wide range
                                of express parcel and package services.</p>
                        </div>
                        <div class="social-icon">
                            <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                            <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                            <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                            <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <h3 class="footer-titel">Products</h3>

                    <ul class="footer-link">
                        <li><a href="#">Tracking -
                            <x style="color:#F63854">In Progress</x>
                        </a></li>
                        <li><a href="#">Application -
                            <x style="color:#F63854">In Progress</x>
                        </a></li>
                        <li><a href="#">Resource Planning -
                            <x style="color:#F63854">In Progress</x>
                        </a></li>
                        <li><a href="#">Enterprise -
                            <x style="color:#F63854">In Progress</x>
                        </a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <h3 class="footer-titel">Resources</h3>
                    <ul class="footer-link">
                        <li><a href="#">Payment Options -
                            <x style="color:#F63854">In Progress</x>
                        </a></li>
                        <li><a href="#">Fee Schedule -
                            <x style="color:#F63854">In Progress</x>
                        </a></li>
                        <li><a href="#">Getting Started -
                            <x style="color:#F63854">In Progress</x>
                        </a></li>
                        <li><a href="#">Identity Verification -
                            <x style="color:#F63854">In Progress</x>
                        </a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <h3 class="footer-titel">Contact</h3>
                    <ul class="address">
                        <li>
                            <a href="#"><i class="lni-map-marker"></i> Blåsvädersgatan 22, LGH-1303, <br> 418 32
                                Göteborg</a>
                        </li>
                        <li>
                            <a href="#"><i class="lni-phone-handset"></i> P: +46 734 959 398</a>
                        </li>
                        <li>
                            <a href="#"><i class="lni-envelope"></i> E: haseeb@ahjm.se</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-content">
                        <p>Copyright © 2021 <a rel="nofollow" href="http://ahjm.se/">AHJM</a> All Right Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Go to Top Link -->
<a href="#" class="back-to-top">
    <i class="lni-arrow-up"></i>
</a>

<!-- Preloader -->
<div id="preloader">
    <div class="loader" id="loader-1"></div>
</div>
<!-- End Preloader -->

