<div class="navbar-expand-md">
    <div class="collapse navbar-collapse" id="navbar-menu">
        <div class="navbar navbar-light">
            <div class="container-xl">
                <ul class="navbar-nav">
                    <li class="nav-item {% if request.path == domain_info %} active{% endif %}">
                        <a class="nav-link " href="{% url 'home_page' %}">
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                 class="icon" width="24" height="24"
                                                                                 viewBox="0 0 24 24" stroke-width="2"
                                                                                 stroke="currentColor" fill="none"
                                                                                 stroke-linecap="round"
                                                                                 stroke-linejoin="round"><path
                            stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline
                            points="5 12 3 12 12 3 21 12 19 12"></polyline><path
                            d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><path
                            d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path></svg>
                    </span>
                            <span class="nav-link-title">
                      Home
                    </span>
                        </a>
                    </li>
                    <li class="nav-item {% if request.path == domain_info %} active{% endif %}">
                        <a class="nav-link " href="{% url 'domain_info' %}">
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                 class="icon" width="24" height="24"
                                                                                 viewBox="0 0 24 24" stroke-width="2"
                                                                                 stroke="currentColor" fill="none"
                                                                                 stroke-linecap="round"
                                                                                 stroke-linejoin="round"><path
                            stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="3" y="15" width="6" height="6"
                                                                               rx="2"/><rect x="15" y="15" width="6"
                                                                                             height="6" rx="2"/><rect
                            x="9" y="3" width="6" height="6" rx="2"/><path
                            d="M6 15v-1a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v1"/><line x1="12" y1="9" x2="12" y2="12"/></svg>
                    </span>
                            <span class="nav-link-title">
                      Domain Info Search
                    </span>
                        </a>
                    </li>
                    <li class="nav-item {% if request.path == mobile_info %} active{% endif %}">
                        <a class="nav-link " href="{% url 'mobile_info' %}">
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                 class="icon" width="24" height="24"
                                                                                 viewBox="0 0 24 24" stroke-width="2"
                                                                                 stroke="currentColor" fill="none"
                                                                                 stroke-linecap="round"
                                                                                 stroke-linejoin="round"><path
                            stroke="none" d="M0 0h24v24H0z" fill="none"/><path
                            d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"/><path
                            d="M15 6l2 2l4 -4"/></svg>
                    </span>
                            <span class="nav-link-title">
                      Mobile No Info Search
                    </span>
                        </a>
                    </li>
                    <li class="nav-item {% if request.path == username_info %} active{% endif %}">
                        <a class="nav-link " href="{% url 'username_info' %}">
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                 class="icon" width="24" height="24"
                                                                                 viewBox="0 0 24 24" stroke-width="2"
                                                                                 stroke="currentColor" fill="none"
                                                                                 stroke-linecap="round"
                                                                                 stroke-linejoin="round"><path
                            stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="9" cy="7" r="4"/><path
                            d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"/><line x1="19" y1="7" x2="19" y2="10"/><line
                            x1="19" y1="14" x2="19" y2="14.01"/></svg>
                    </span>
                            <span class="nav-link-title">
                      Username Info Search
                    </span>
                        </a>
                    </li>
                    <li class="nav-item {% if request.path == about_us %} active{% endif %}">
                        <a class="nav-link " href="{% url 'about_us' %}">
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                 class="icon" width="24" height="24"
                                                                                 viewBox="0 0 24 24" stroke-width="2"
                                                                                 stroke="currentColor" fill="none"
                                                                                 stroke-linecap="round"
                                                                                 stroke-linejoin="round"><path
                            stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9"/><line x1="12"
                                                                                                              y1="17"
                                                                                                              x2="12"
                                                                                                              y2="17.01"/><path
                            d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4"/></svg>
                    </span>
                            <span class="nav-link-title">
                      About Us
                    </span>
                        </a>
                    </li>


                </ul>

            </div>
        </div>
    </div>
</div>