<div class="ht-tm-navbar navbar-dark text-white">
  <div class="container">

    <div class="ht-tm-navbar-left">
      <a href="./" class="text-decoration-none text-light">
        <span class="ht-tm-navbar-title">Neon Glow</span>
      </a>
      <nav class="ht-tm-nav">
        <a href="app.html" class="text-decoration-none text-light">App example</a>
        <a href="form.html" class="text-decoration-none text-light">Form example</a>
      </nav>
    </div>

    <a href="/bootstrap-themes/demo/files/hackerthemes-neon-glow.zip" class="btn btn-sm btn-outline-light ml-auto js-ht-download-link" data-type="theme" data-id="95">Download</a>
  </div>
</div>